.stile img {
    height: 200px;
    width: 200px;
    
}

.myCard {
    padding-top: 1em;
    text-align: center;
    border: 1px solid black;

}

p {
    margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

nav svg {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

nav svg:hover {
    background-color: rgba(209, 209, 209, 0.641);
    border-radius: 50%;
}